@model IEnumerable<SESSI.Models.Contact>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Dashboard.cshtml";
}

<br />
<div class="h4 text-center" style="color:seagreen">HOME BANNERS</div>
<p>
    <a href="~/Contacts/Create" style="color:seagreen">CREATE NEW</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MESSENGER_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MESSENGER_EMAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MESSAGE)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MESSENGER_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MESSENGER_EMAIL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MESSAGE)
            </td>
            <td>
                <a href="~/Contacts/Edit/@item.ID" style="color:seagreen">EDIT</a> |
                <a href="~/Contacts/Details/@item.ID" style="color:seagreen">DETAILS</a> |
                <a href="~/Contacts/Delete/@item.ID" style="color:seagreen">DELETE</a>
            </td>
        </tr>
    }

</table>
